{{!
@param IRI    $scheme    URI of skos:ConceptScheme to convert
}}

{{> prefixes}}

SELECT DISTINCT ?broader ?narrower 
WHERE {
  VALUES ?narrowerProperty {
    skos:narrower
    skos:narrowerTransitive
  }
  ?broader ?narrowerProperty ?narrower . 
  {{#scheme}}
  <{{scheme}}> ^skos:inScheme ?broader, ?narrower .
  {{/scheme}}
}
